*/*.pkg.tar.xz
*/*.pkg.tar.zst
*/pkg/
*/src/

# Python packages generally use .tar.gz source packages
python-*/*.tar.gz

beancount/beancount-*.tar.gz
dfhack-xdg-bin/dfhack-*.tar.bz2
duplicacy-web/duplicacy-web-*
env-module-python-3.9/Python-*.tar.xz*
env-module-libtorch-1.10.0+cu113/libtorch-*.zip
mujoco-bin/*.tar.gz
python-mujoco-py/mujoco-py-*-LICENSE.md
spacechem-hib/SpaceChem*.zip
