*/*.pkg.tar.xz
*/*.pkg.tar.zst
*/pkg/
*/src/

# Python packages generally use .tar.gz source packages
python-*/*.tar.gz

beancount/beancount-*.tar.gz
dfhack-xdg-bin/dfhack-*.tar.bz2
duplicacy-web/duplicacy-web
libtorch-cuda-bin/libtorch-*.zip
mujoco-bin/*.tar.gz
python-mujoco-py/mujoco-py-*-gen_wrappers.py
python-mujoco-py/mujoco-py-*-LICENSE.md
spacechem-hib/SpaceChem*.zip
