pkgbase = python-magic-ahupp
	pkgdesc = A python wrapper for libmagic
	pkgver = 0.4.22
	pkgrel = 1
	url = https://pypi.org/project/python-magic
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = file
	provides = python-magic
	conflicts = python-magic
	source = https://files.pythonhosted.org/packages/source/p/python-magic/python-magic-0.4.22.tar.gz
	sha256sums = ca884349f2c92ce830e3f498c5b7c7051fe2942c3ee4332f65213b8ebff15a62

pkgname = python-magic-ahupp

