pkgbase = env-modules-python-3.9
	pkgdesc = Environment module for Python 3.9
	pkgver = 3.9.13
	pkgrel = 1
	url = https://www.python.org
	arch = x86_64
	license = custom
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = gdb
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	optdepends = sqlite
	optdepends = mpdecimal: for decimal
	optdepends = xz: for lzma
	optdepends = tk: for tkinter
	source = https://www.python.org/ftp/python/3.9.13/Python-3.9.13.tar.xz
	source = https://www.python.org/ftp/python/3.9.13/Python-3.9.13.tar.xz.asc
	validpgpkeys = 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
	validpgpkeys = E3FF2839C048B25C084DEBE9B26995E310250568
	validpgpkeys = A035C8C19219BA821ECEA86B64E628F8D684696D
	md5sums = 5e2411217b0060828d5f923eb422a3b8
	md5sums = SKIP

pkgname = env-modules-python-3.9
